.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding: 100px 20px 0;
}

.searchTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.searchSubtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}

.searchInputContainer {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.searchInput {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  border: 2px solid #39b581;
  border-radius: 9999px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.searchInput:focus {
  box-shadow: 0 0 0 3px rgba(74, 226, 142, 0.3);
}

.searchButton {
  position: absolute;
  right: 0.1rem;
  top: 27.5%;
  transform: translateY(-50%);
  background-color: #1b7149;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #3a7bc8;
}

/* From Uiverse.io by adamgiebl */ 
.checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 70%;
  font-family: Arial, sans-serif;
  color: #333;
  cursor: pointer;
}

.checkbox input {
  display: none;
}

.checkbox .checkmark {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #39b581;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.checkbox input:checked + .checkmark {
  background-color: #39b581;
}

.checkbox .checkmark:after {
  content: '\2714';
  color: white;
  font-size: 14px;
  display: none;
}

.checkbox input:checked + .checkmark:after {
  display: block;
}

.checkbox .label {
  font-size: 14px;
  user-select: none;
}